body {
  margin: 0;
  padding: 0;
  height: fit-content;
}
body::-webkit-scrollbar {
  display: none;
}
.banner-container {
  width: 100%;
  height: 150vh;
  background-image: url("asset/Group7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner-title-container {
  padding: 10px;
  width: 20%;
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: #c4c4c4c7;
  border-radius: 5px;
}
#menu {
  position: fixed;
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 40px;
  cursor: pointer;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.76);
  display: block;
  border-radius: 5px;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.change .bar {
  background-color: rgb(255, 255, 255);
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2 {
  opacity: 0;
}
.changenav {
  display: block !important;
}
.change-body {
  filter: blur(5px);
}
.nav li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav {
  padding: 0;
  margin: 70px 40px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: rgb(2, 48, 133);
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 70, 199, 0.863);
  transition: 0.3s ease;
}
.change-bg {
  width: 750px;
  height: 750px;
  transform: translate(-60%, -30%);
}
#menu-bar {
  z-index: 2;
}
.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: fixed;
}
.name {
  font-size: 48px;
}
.front-end {
  font-size: 20px;
}
.quote {
  position: relative;
  top: 160px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
}
#about {
  position: relative;
}
#about:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background-image: url("asset/aboutMe.png");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  filter: grayscale(70%);
}
.aboutMe {
  font-size: 48px;
  text-align: center;
  position: relative;
  top: 150px;
}
.story {
  width: 80%;
  position: relative;
  top: 230px;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 20px;
  font-size: 24px;
}
.myStoryImg {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.storyImg {
  border-radius: 147.5px;
  margin: 0 auto;
  box-shadow: 0 0 10px;
  width: 40%;
  object-fit: cover;
}

.myStory {
  width: 80%;
  /* margin: 0 auto; */
  text-align: justify;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#skills {
  position: relative;
  top: 85vh;
  width: 100%;
  height: 941px;
  background-image: url("asset/Group9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mySkill {
  width: 40%;
  margin-left: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  justify-items: center;
}

.mySkill-title {
  font-size: 48px;
  color: white;
  grid-column: 1/-1;
  text-align: center;
  padding: 40px;
}
.programing-skill img {
  margin: 0 auto;
}
.description {
  text-align: center;
  color: white;
  font-size: 18px;
}
#project {
  position: relative;
  top: 60vh;
  width: 100%;
  height: 941px;
  background-image: url("asset/pexels-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 88%);
  text-align: center;
}
.project-title {
  position: relative;
  top: 190px;
  color: white;
  font-size: 48px;
}
.project-container {
  position: relative;
  top: -130px;
  width: 90%;
  margin: 400px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.border1 {
  border: 4px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(245, 245, 245, 0.63);
  border-radius: 5px;
  margin-top: 10px;
  transition-property: height;
  transition-duration: 1s;
}
.border2 {
  margin: 0 auto;
  border: 4px solid black;
  width: 130px;
  height: 130px;
}
.project-des {
  visibility: hidden;
}
.border1:nth-child(2),
.border1:nth-child(3) {
  position: relative;
  top: 100px;
}
.border2 img {
  position: relative;
  top: 20px;
}
.border1:hover {
  display: block;
  width: 200px;
  height: 230px;
  box-shadow: 0 0 25px rgb(255, 255, 255);
  border: 4px solid rgba(0, 0, 0, 0.753);
  background: rgba(245, 245, 245, 0.849);
}
.border1:hover .border2 {
  /* position: relative;
  top: 70px; */
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
}
.border1:hover .border2 a {
  margin: 0 auto;
}
.border1:hover .crown {
  box-shadow: 0 0 25px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.856);
  margin-top: -50px;
}
.border1:hover .project-des {
  visibility: visible;
  margin-top: 20px;
  line-height: 20px;
}
#contact {
  position: relative;
  top: 40vh;
  width: 100%;
  height: 150vh;
  background-image: url("asset/Group10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);

  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactMe {
  position: relative;
  top: 50px;
  width: 70%;
  margin: 0 auto;
}
.contact-title {
  font-size: 48px;
  color: white;
  text-align: center;
}
.contact-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 30px;
  text-align: center;
}

.address {
  margin-top: 15px;
  font-size: 20px;
  color: white;
}
.git {
  border-radius: 50%;
}
.gmail:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.747);
  border-radius: 5px;
  width: 75px;
  height: 60px;
}
.git:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.747);
  width: 65px;
  height: 65px;
}
@media only screen and (max-width: 1000px) {
  .banner-title-container {
    width: 50%;
  }
  #skills {
    top: 30vh;
  }

  #about:before {
    height: 240vh;
  }
  .myStory {
    margin: 0 auto;
  }
  #project {
    top: 0;
  }
  #contact {
    top: -25vh;
  }
  .contactMe {
    width: 80%;
  }
  .border1:nth-child(2),
  .border1:nth-child(3) {
    position: relative;
    top: 0;
  }
  .project-title {
    position: relative;
    top: 120px;
  }
  .project-container {
    position: relative;
    top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .mySkill {
    width: 80%;
    position: relative;
    top: -60px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 30px;
  }
  #project {
    position: relative;
    top: -60px;
    height: 1250px;
  }
  #skills {
    position: relative;
    top: 40vh;
  }
  #contact {
    top: -40vh;
  }
}
