html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  height: fit-content;
}
body::-webkit-scrollbar {
  display: none;
}
.banner-container {
  width: 100%;
  height: 150vh;
  background-image: url("asset/Group7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner-title-container {
  padding: 0.625rem;
  width: 20%;
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: #c4c4c4c7;
  border-radius: 5px;
}
.first {
  padding: 0.625rem;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  top: 50vh;
  text-align: center;
  background-color: #c4c4c4c7;
  border-radius: 5px;
}
.name {
  font-size: 3em;
}
.front-end {
  font-size: 1.25em;
}
#menu {
  position: fixed;
  width: 2.1875rem;
  height: 1.875rem;
  margin: 30px 0 20px 40px;
  cursor: pointer;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.76);
  display: block;
  border-radius: 5px;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.change .bar {
  background-color: rgb(255, 255, 255);
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2 {
  opacity: 0;
}
.changenav {
  display: block !important;
}
.change-body {
  filter: blur(5px);
}
.nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.1875rem;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav {
  padding: 0;
  margin: 4.375rem 2.5rem;
  transition: 0.3s ease;
  display: none;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: rgb(2, 48, 133);
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgba(0, 70, 199, 0.863);
  transition: 0.3s ease;
}
.change-bg {
  width: 46.875rem;
  height: 46.875rem;
  transform: translate(-60%, -30%);
}
#menu-bar {
  z-index: 2;
}
.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: fixed;
}

.quote {
  position: relative;
  top: 10rem;
  text-align: center;
  font-style: italic;
  font-size: 1.25rem;
}
#about {
  position: relative;
}
#about:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75rem;
  background-image: url("asset/aboutMe.png");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  filter: grayscale(70%);
}
.aboutMe {
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: 9.375rem;
}
.story {
  width: 80%;
  position: relative;
  top: 14.375rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 20px;
}
.myStoryImg {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.storyImg {
  border-radius: 147.5px;
  margin: 0 auto;
  box-shadow: 0 0 10px;
  width: 40%;
  object-fit: cover;
}

.myStory {
  width: 80%;
  /* margin: 0 auto; */
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#skills {
  position: relative;
  top: 35rem;
  width: 100%;
  height: 59rem;
  background-image: url("asset/Group9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mySkill {
  width: 40%;
  margin-left: 5.625rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3.75rem, 1fr));
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  justify-items: center;
}

.mySkill-title {
  font-size: 3rem;
  color: white;
  grid-column: 1/-1;
  text-align: center;
  padding: 2.5rem;
}
.programing-skill img {
  margin: 0 auto;
  transition: 2s linear;
}
.flip:hover {
  transform: rotateY(360deg);
}
.react:hover {
  transform: rotateZ(360deg);
}
.scale:hover {
  transform: scale(1.2);
}
.trans:hover {
  animation: shake 1s infinite;
  animation-direction: alternate;
}
@keyframes shake {
  0% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
.description {
  text-align: center;
  color: white;
  font-size: 1.125rem;
}
#project {
  position: relative;
  top: 25rem;
  width: 100%;
  height: 59rem;
  background-image: url("asset/pexels-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 88%);
  text-align: center;
}
.project-title {
  position: relative;
  top: 14.875rem;
  color: white;
  font-size: 3rem;
  font-family: "Lora", serif;
}
.project-container {
  position: relative;
  top: 18rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.border1 {
  border: 4px solid black;
  width: 9.375rem;
  height: 9.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(245, 245, 245, 0.63);
  border-radius: 5px;
  margin-top: 10px;
  transition-property: height;
  transition-duration: 1s;
}
.border2 {
  margin: 0 auto;
  border: 4px solid black;
  width: 8.125rem;
  height: 8.125rem;
}
.project-des {
  visibility: hidden;
  font-family: "Lora", serif;
}
.border1:nth-child(2),
.border1:nth-child(3) {
  position: relative;
  top: 100px;
}
.border2 img {
  position: relative;
  top: 20px;
  width: 80%;
  height: 80%;
}
.border1:hover {
  display: block;
  width: 12.5rem;
  height: 14.375rem;
  box-shadow: 0 0 25px rgb(255, 255, 255);
  border: 4px solid rgba(0, 0, 0, 0.753);
  background: rgba(245, 245, 245, 0.849);
}
.border1:hover .border2 {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  text-align: left;
  font-size: 1.125rem;
}
.border1:hover .border2 a {
  margin: 0 auto;
}
.border1:hover .border2 img {
  width: 7rem;
  height: 7rem;
}
.border1:hover .crown {
  box-shadow: 0 0 25px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.856);
  margin-top: -50px;
}
.border1:hover .project-des {
  visibility: visible;
  margin-top: 1rem;
  line-height: 1.25rem;
}
#contact {
  position: relative;
  top: 17rem;
  width: 100%;
  height: 60rem;
  background-image: url("asset/Group10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);

  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactMe {
  position: relative;
  top: 3.125rem;
  width: 70%;
  margin: 0 auto;
}
.contact-title {
  font-size: 3rem;
  color: white;
  text-align: center;
}
.contact-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 30px;
  text-align: center;
}

.address {
  margin-top: 0.9375rem;
  font-size: 1.5rem;
  color: white;
}
.git {
  border-radius: 50%;
}
.gmail:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.747);
  border-radius: 5px;
  width: 75px;
  height: 60px;
}
.contact-infor img {
  height: 50%;
}
.git:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.747);
  width: 65px;
  height: 65px;
}
@media only screen and (max-width: 1100px) {
  html {
    font-size: 13px;
  }
  .banner-title-container {
    width: 50%;
  }
  .story {
    width: 95%;
  }
  .myStory {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 700px) {
  .mySkill {
    width: 80%;
    position: relative;
    top: -60px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 30px;
  }
  #project {
    position: relative;
    top: -30px;
    height: 1250px;
  }
  #skills {
    position: relative;
    top: 30vh;
  }
  #contact {
    top: -40vh;
  }
  .project-title {
    position: relative;
    top: 200px;
  }
  .project-container {
    position: relative;
    top: 220px;
    display: block;
  }
  .project-des {
    visibility: visible;
    /* margin-left: 25px; */
  }
  .border2 {
    border: none;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  .border1 {
    height: fit-content;
    width: 100%;
  }
  .border1:nth-child(2),
  .border1:nth-child(3) {
    position: relative;
    top: 0;
  }
  .border1:hover .project-des {
    visibility: visible;
    margin-top: 1rem;
    line-height: 1.25rem;
    margin-left: 25px;
  }
  .border1:hover {
    height: fit-content;
    width: 100%;
  }
  .border1:hover .crown {
    box-shadow: 0 0 25px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    margin-top: 0;
  }
  .crown {
    margin-top: -10px;
  }
}
@media only screen and (min-width: 1500px) {
  html {
    font-size: 22px;
  }
  .banner-title-container {
    width: 20%;
  }
  .project-container {
    width: 60%;
    position: relative;
  }
  .contact-infor img {
    height: 100px;
  }
}
